{% extends "layout.html" %}
{% block title %}All compliments{% endblock %}
{% block body %}

<main class="main-content">

<h2>All compliments</h2>
<ul>
{% for comment in comments %}
    <li>
        <b>From:</b>
        <a href="/user/{{ comment.author.tj_username }}">{{ comment.author.get_display_name() }}</a>
        <br>
        <b>To:</b>
        <a href="/user/{{ comment.recipient.tj_username }}">{{ comment.recipient.display_name }}</a>
        <br>
        <b>Title:</b>
        {{comment.title}}
        <br>
        <p>{{ comment.content }}</p>
    </li>
{% endfor %}
</ul>

</main>

{% endblock %}

