<li class="comment-list-item">
    <div class="comment-heading">
        <strong>{{ comment.title }}&nbsp;</strong>
        <span class="comment-author">
            <a href="{{ url_for('get_user', username=comment.author.tj_username) }}">{{ comment.author.get_display_name() }}</a>
            &rarr;
            <a href="{{ url_for('get_user', username=comment.recipient.tj_username) }}">{{ comment.recipient.display_name }}</a>
        </span>
    </div>
    <div class="comment-body">{{ comment.content }}</div>
</li>
 
