{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<main class="main-content">
<h1>Hello world</h1>

<p>
Hello, {{ user.get_display_name() }}!
Your username is <a href="/user/{{ user.tj_username }}">{{ user.tj_username }}</a>.
</p>

<h2>List of all comments</h2>
<ul>
{% for comment in comments %}
    <li>
        <b>From:</b>
        <a href="/user/{{ comment.author.tj_username }}">{{ comment.author.get_display_name() }}</a>
        <br>
        <b>To:</b>
        <a href="/user/{{ comment.recipient.tj_username }}">{{ comment.recipient.display_name }}</a>
        <br>
        <b>Title:</b>
        {{comment.title}}
        <br>
        <p>{{ comment.content }}</p>
    </li>
{% endfor %}
</ul>


<h2>List of all seniors:</h2>
<div class="pure-menu pure-menu-scrollable senior-list">
<ul class="pure-menu-list">
{% for senior in seniors %}
<li class="pure-menu-item senior-list-item">
    <a href="user/{{ senior.tj_username }}" class="pure-menu-link">
        <img src="{{ senior.facebook_picture }}">
        {{ senior.display_name }}
    </a>
</li>
{% endfor %}
</ul>
</div>

</main>
{% endblock %}

