{% extends "layout.html" %}
{% block title %}{{ display_name }}{% endblock %}
{% block body %}

<main class="main-content">

<h1>{{ display_name }} <small>{{ tj_username }}</small></h1>

{% if user %}
<p>
This user created their account at {{ user.created }}.
</p>
{% else %}
This user has never logged into Senior Compliments.
{% endif %}

{% if senior %}
<p>This user is a senior.</p>
<p>
<img src="{{ senior.facebook_picture }}">
</p>
<a href="https://ion.tjhsst.edu/profile/{{ senior.ion_id }}" class="pure-button">
    <img src="https://ion.tjhsst.edu/favicon.ico" width="16" height="16">
    {{ senior.full_name }}
</a>

{% if senior.facebook_id %}
<a href="https://www.facebook.com/{{ senior.facebook_id }}" class="pure-button pure-button-primary">
    <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;
    {{ senior.facebook_name }}
</a>
{% endif %}

<h2>Comments received</h2>
{% if not senior.comments_received %}
<p>None received so far!</p>
{% endif %}

<ul class="comment-list">
{% for comment in senior.comments_received %}
    <li class="comment-list-item">
        <em>{{ comment.author.get_display_name() }}</em><br>
        <strong>{{ comment.title }}</strong><br>
        <p>{{ comment.content }}</p>
    </li>
{% endfor %}
</ul>

<h2>Write a compliment!</h2>
<form class="pure-form" method="POST" action="/comment">
    <fieldset class="pure-group">
        <input class="pure-input-1-2" type="text" id="title-input" name="title" placeholder="Title">
        <textarea class="pure-input-1-2" id="content-input" name="content" placeholder="Compliment"></textarea>
    </fieldset>

    <div class="pure-controls">
        <input type="hidden" name="recipient" value="{{ senior.ion_id }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </div>
</form>


{% endif %}

</main>

{% endblock %}

